.regular_orders{
	
	margin-top: -0.3rem;
	padding: 0.1rem;
}
.regular_orders >div,.service_center>div{
	background-color: #FFFFFF;  
}
.regular_orders >div:nth-of-type(1){
	height: 0.42rem;
	/* padding: 0 0.18rem 0 .14rem; */
	padding: 0 0.16rem 0 0.09rem;
	border-top-right-radius:  0.04rem;
	border-top-left-radius:  0.04rem;
}
.regular_orders >div:nth-of-type(2){ 	
	border-bottom-right-radius:  0.04rem;
	border-bottom-left-radius:  0.04rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.18rem 0.31rem 0.21rem 0.35rem;
}
.regular_orders >div:nth-of-type(2)>div>div:nth-of-type(1){ 	 
	 margin-bottom: 0.07rem;
	 display: flex;
	 align-items: center;
	 justify-content: center;
}
.regular_orders >div:nth-of-type(2)>div>div:nth-of-type(1)>img:nth-of-type(1){ 	
	width: 0.25rem;
	height: 0.3rem; 
}
.regular_orders >div:nth-of-type(2)>div>div:nth-of-type(1)>img:nth-of-type(2){ 	
	width: 0.24rem;
	height: 0.29rem; 
}
.regular_orders >div:nth-of-type(2)>div>div:nth-of-type(1)>img:nth-of-type(3){ 	
	width: 0.31rem;
	height: 0.29rem; 
}
.regular_orders >div:nth-of-type(2)>div>div:nth-of-type(1)>img:nth-of-type(4){ 	
	width: 0.29rem;
	height: 0.29rem; 
}
.regular_orders >div:nth-of-type(2)>div>div:nth-of-type(2){ 	 
	font-size: 0.12rem;
	font-family: Microsoft YaHei;
	font-weight: 400;
}
.service_center{ 
	padding: 0 0.1rem 0.1rem;  
	padding: 0.1rem;
}
 
.service_center>div:nth-of-type(1){
	height: 0.42rem;
    padding: 0 0.14rem;
	border-top-right-radius: 0.04rem;
    border-top-left-radius: 0.04rem; 
	font-size: 0.14rem;
	font-weight: bold;
	line-height: 0.42rem;
}
.service_center>div:nth-of-type(2){
	border-bottom-right-radius:  0.04rem;
	border-bottom-left-radius:  0.04rem;
	display: flex;
	justify-content: space-between;
	align-items: center; 
	padding: 0 0.38rem 0.38rem;
}
.service_center>div:nth-of-type(2)>div>div:nth-of-type(1){
	 
    margin-bottom: 0.07rem;
	display: flex;
	justify-content: center;
}
.service_center>div:nth-of-type(2)>div>div:nth-of-type(2){
	 font-size: 0.12rem;
    font-family: Microsoft YaHei;
    font-weight: 400;
}

.service_center>div:nth-of-type(2)>div>div>img{
	width: 0.3rem;
    height: 0.3rem; 
}
.regular_orders >div:nth-of-type(1)>div:nth-of-type(1){
	height: 100%;
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid #DCDFE6;;
	align-items: center;
	padding-left: 0.05rem; 
	font-size: 0.14rem; 
	font-weight: bold; 
	color: #1C1C1C;
}
.regular_orders >div:nth-of-type(1)>div:nth-of-type(1)>div:nth-of-type(2){
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100%;
	padding-right: 0.11rem;
	color: #909399;
	font-size: 0.12rem;
	font-family: Microsoft YaHei;
	font-weight: 400;
}
.regular_orders >div:nth-of-type(1)>div:nth-of-type(1)>div:nth-of-type(2)>div:nth-of-type(2) {
	display: flex;
}


#header_my .header_my_inner{
	box-sizing: border-box;
	width: 100%;
	height: 1.43rem;
	background: linear-gradient(91deg, #FF3F34 0%, #EF0E01 100%); 
}
#header_my .header_my_inner .header_my_inner_top{
	width: 3.4rem;
	height: 1.1rem;
	margin: 0 auto;
	display: flex; 
}
.header_my_inner_top .my-top-left{
	margin-left: 0.25rem;
}
#header_my .header_my_inner .header_my_inner_top_left{
	display: flex;
	flex-direction: column;
	justify-content: center;
}
#header_my .header_my_inner .header_my_inner_top_left p{
	margin-left: .1rem;
	font-size: .16rem;
	color: #FFFFFF;
}
#header_my .header_my_inner .header_my_inner_top_left h6{
	position: relative;
	left: 1.1rem;
	top:.18rem;
	width:.08rem;
	height:.08rem;
	border-top:.015rem solid #FFFFFF;
	border-right:.015rem solid #FFFFFF;
	transform:rotate(45deg);
	
}
#header_my .header_my_inner .header_my_inner_top_left span{
	display: inline-block;
	margin-top: .04rem;
	width: 1rem;
	height: .2rem;
	background: #ECB533;
	color: #FFDC8A;
	text-align: center;
	font-size: .12rem;
	line-height: .2rem;
	border-radius: .3rem;
}
#header_my .header_my_inner .header_my_inner_top_right img{
	height: .75rem;
	width: .75rem;
	border-radius: 50%;
    margin-top: .21rem;
	
}
#header_my .header_my_inner_bottom{
	width: 3.46rem;
	height: 1.7rem;
	margin: 0 auto;
	background: #FFFFFF;
	border-radius:.03rem;
}
#header_my .header_my_inner_bottom_top{
	    box-sizing: border-box;
		width: 3.46rem;
		height: .49rem;
		padding-top: .11rem;
		border-bottom: .01rem solid #D5D5D5;
		
}
#header_my .header_my_inner_bottom_top ul{
	display: flex;
	justify-content: space-around;
	
}

#header_my .header_my_inner_bottom_top ul li{
	padding-bottom: .03rem;
	width: .65rem;
	color: #1C1C1C;
	font-weight: bold;
	text-align: center
}
#header_my .header_my_inner_bottom_bottom{
	width: 3.14rem;
	height: 1.2rem;
	margin: 0 auto;
	
}
#header_my .header_my_inner_bottom_bottom .header_my_inner_bottom_bottom_1{
	display: flex;
	justify-content:space-between;
	height: .5rem;
}
#header_my .header_my_inner_bottom_bottom .header_my_inner_bottom_bottom_1 h1{
	color: #1C1C1C;
	font-weight:bold;
	line-height:.5rem;
}
#header_my .header_my_inner_bottom_bottom .header_my_inner_bottom_bottom_1 h2{
	line-height:.5rem;
	margin-right: .1rem;
}
#header_my .header_my_inner_bottom_bottom .header_my_inner_bottom_bottom_1 h3{
	position:absolute;
	left: 3.39rem;
	top: 1.782rem;
}
#header_my .header_my_inner_bottom_bottom_2{
	display: flex;
	justify-content: space-around;
	margin-top: .1rem;
	overflow: hidden;
	
	
}
#header_my .header_my_inner_bottom_bottom_2 span{
	display: flex;
	flex-direction: column;
	color: #1C1C1C;
	font-size: .12rem;
	align-items: center;
}
#header_my .header_my_inner_bottom_bottom_2 span img{
	height:.35rem;
	width: .35rem;
}
.header_my_inner_bottom_dzdd{
	display: flex;
	margin-top: .1rem;
	overflow-x:auto;
}
.header_my_inner_bottom_dzdd span{
	display: flex;
	/* display: block; */
	white-space: nowrap;
	width: .6rem;
	flex-direction: column;
	color: #1C1C1C;
	font-size: .12rem;
	align-items: center;
	 margin-left: .2rem;
	margin-right: .24rem; 
}
.header_my_inner_bottom_dzdd span img{
	height:.35rem;
	width: .35rem;
}
#main_my{
	width: 3.46rem;
	/* height: 2.2rem; */
	margin: 1.5rem auto 0 auto;
	background: #FFFFFF;
}
#main_my .main_my_inner_01{
	background: url(../../img/home/我的/PPT@2x.png).1rem .15rem no-repeat;
	background-size: .19rem;	
}
#main_my .main_my_inner_01 .main_my_inner_01_01{
	box-sizing: border-box;
	margin-left: .31rem;
	width: 3.14rem;
	height: .52rem;
	border-bottom: .01rem solid #D5D5D5;
	display: flex;
	justify-content: space-between;
	padding: 0 .1rem 0 .2rem;
}
#main_my .main_my_inner_01 .main_my_inner_01_01 h5{
	line-height:.52rem ;
	color: #1C1C1C;
}
#main_my .main_my_inner_01 .main_my_inner_01_01 h6{
	margin: auto 0;
}
/*---------------*/
#main_my .main_my_inner_02{
	background: url(../../img/home/我的/问题.png).1rem .15rem no-repeat;
	background-size: .19rem;	
}
#main_my .main_my_inner_02 .main_my_inner_02_01{
	box-sizing: border-box;
	margin-left: .31rem;
	width: 3.14rem;
	height: .52rem;
	border-bottom: .01rem solid #D5D5D5;
	display: flex;
	justify-content: space-between;
	padding: 0 .1rem 0 .2rem;
}
#main_my .main_my_inner_02 .main_my_inner_02_01 h5{
	line-height:.52rem ;
	color: #1C1C1C;
}
#main_my .main_my_inner_02 .main_my_inner_02_01 h6{
	margin: auto 0;
}

#main_my .main_my_inner_qb{
	background: url(../../assets/qb.png) .1rem .15rem no-repeat;
	background-size: .19rem;	
}
#main_my .main_my_inner_qb .main_my_inner_qb_01{
	box-sizing: border-box;
	margin-left: .31rem;
	width: 3.14rem;
	height: .52rem;
	border-bottom: .01rem solid #D5D5D5;
	display: flex;
	justify-content: space-between;
	padding: 0 .1rem 0 .2rem;
}
#main_my .main_my_inner_qb .main_my_inner_qb_01 h5{
	line-height:.52rem ;
	color: #1C1C1C;
}
#main_my .main_my_inner_qb .main_my_inner_qb_01 h6{
	margin: auto 0;
}

/*------------*/
#main_my .main_my_inner_03{
	background: url(../../img/home/我的/地址.png).1rem .15rem no-repeat;
	background-size: .19rem;	
}
#main_my .main_my_inner_03 .main_my_inner_03_01{
	box-sizing: border-box;
	margin-left: .31rem;
	width: 3.14rem;
	height: .52rem;
	display: flex;
	justify-content: space-between;
	padding: 0 .1rem 0 .2rem;
	border-bottom: .01rem solid #D5D5D5;
}
#main_my .main_my_inner_03 .main_my_inner_03_01 h5{
	line-height:.52rem ;
	color: #1C1C1C;
}
#main_my .main_my_inner_03 .main_my_inner_03_01 h6{
	margin: auto 0 ;
}
#main_my .main_my_inner_06{
	background: url(../../assets/grzx.png).1rem .15rem no-repeat;
	background-size: .19rem;	
}
#main_my .main_my_inner_06 .main_my_inner_06_01{
	box-sizing: border-box;
	margin-left: .31rem;
	width: 3.14rem;
	height: .52rem;
	display: flex;
	justify-content: space-between;
	padding: 0 .1rem 0 .2rem;
	border-bottom: .01rem solid #D5D5D5;
}
#main_my .main_my_inner_06 .main_my_inner_06_01 h5{
	line-height:.52rem ;
	color: #1C1C1C;
}
#main_my .main_my_inner_06 .main_my_inner_06_01 h6{
	margin: auto 0 ;
}
/*-----------*/
#main_my .main_my_inner_04{
	background: url(../../img/home/我的/收藏.png).1rem .15rem no-repeat;
	background-size: .19rem;	
}
#main_my .main_my_inner_04 .main_my_inner_04_01{
	box-sizing: border-box;
	margin-left: .31rem;
	width: 3.14rem;
	height: .52rem;
	display: flex;
	justify-content: space-between;
	border-bottom: .01rem solid #D5D5D5;
	padding: 0 .1rem 0 .2rem;
}
#main_my .main_my_inner_04 .main_my_inner_04_01 h5{
	line-height:.52rem ;
	color: #1C1C1C;
}
#main_my .main_my_inner_04 .main_my_inner_04_01 h6{
	margin: auto 0 ;
}
/*-----------*/
#main_my .main_my_inner_05{
	background: url(../../assets/gl.png).1rem .15rem no-repeat;
	background-size: .19rem;	
}
#main_my .main_my_inner_05 .main_my_inner_05_01{
	box-sizing: border-box;
	margin-left: .31rem;
	width: 3.14rem;
	height: .52rem;
	display: flex;
	justify-content: space-between;
	padding: 0 .1rem 0 .2rem;
	border-bottom: .01rem solid #D5D5D5;
}
#main_my .main_my_inner_05 .main_my_inner_05_01 h5{
	line-height:.52rem ;
	color: #1C1C1C;
}
#main_my .main_my_inner_05 .main_my_inner_05_01 h6{
	margin: auto 0 ;
}
/*退出登录*/
#quit_my{
	width: 3.45rem;
	height: .38rem;
	margin:  1rem auto .98rem auto;

}
#quit_my .quit_my_inner{
	width: 3.45rem;
	height: .38rem;
	background: linear-gradient(267deg, #EF0E01 0%, #EC2B48 100%);
	border-radius:.22rem;
	text-align: center;
	
}
#quit_my .quit_my_inner span{
	color: #FFFFFF;
	line-height:.38rem ;
}
