#header_myinformation{
	width: 3.75rem;
	height: .5rem;
	text-align: center;
	background: #FFFFFF;
}
#header_myinformation h1{
	line-height: .5rem;
	font-size: .18rem;
	color: #1C1C1C;
	font-weight: bold;
}
/*修改信息*/
#main_myinformation{
	width: 3.46rem;
	height: 3.7rem;
	margin: .14rem auto 0 auto;
	background: #FFFFFF;
	border-radius:.03rem;
}
#main_myinformation .main_myinformation_inner{
	width: 2.98rem;
	margin:0 auto;
}
#main_myinformation .main_myinformation_inner_portrait{
	height: .81rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
    border-bottom:.01rem solid #D5D5D5 ;	
}
.main_myinformation_inner input{
	margin-left: .2rem;
}
#main_myinformation .main_myinformation_inner p{
	color: #1C1C1C;
}
#main_myinformation .main_myinformation_inner_portrait img{
	/* height: .5rem;
	width: .5rem;
	border-radius: 50%; */
}

/*---------*/
#main_myinformation .main_myinformation_inner_username{
	height: .52rem;
	border-bottom:.01rem solid #D5D5D5 ;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
#main_myinformation .main_myinformation_inner_name{
	height: .52rem;
	border-bottom:.01rem solid #D5D5D5 ;
	/* justify-content: space-between; */
	display: flex;
	align-items: center;
}
#main_myinformation .main_myinformation_inner_name span{
 margin-right: .1rem;
}
#main_myinformation .main_myinformation_inner_number{
	height: .52rem;
	border-bottom:.01rem solid #D5D5D5 ;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
#main_myinformation .main_myinformation_inner_e-Mail{
	height: .52rem;
	border-bottom:.01rem solid #D5D5D5 ;
	display: flex;
	/* justify-content: space-between; */
	align-items: center;
}
#main_myinformation .main_myinformation_inner_enterprise-name{
	height: .52rem;
	border-bottom:.01rem solid #D5D5D5 ;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
#main_myinformation .main_myinformation_inner_code{
	height: .52rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

