
#header_amend h1{
	width: 3.75rem;
	height: .5rem;
	background: #FFFFFF;
	color: #1C1C1C;
	font-size: .18rem;
	text-align: center;
	line-height: .5rem;
	font-weight: bold;
}
#resetPassword .resetPassword_inner{
	width: 2.72rem;
	margin: .24rem auto;
}

#resetPassword .resetPassword_inner input{
	font-size: .14rem;
	margin-right: .2rem;
	width: 2.72rem;
	margin: 0 auto .53rem auto;
	border-bottom: 1px solid #3b3b3b;
	padding-bottom: .08rem;
	padding-left: .03rem;
}
#resetPassword .resetPassword_inner span:nth-of-type(1){
	position: absolute;
	left: 2.5rem;
	top:1.6rem
}
#resetPassword .resetPassword_inner span:nth-of-type(2){
	position: absolute;
	left: 2.9rem;
	top:1.6rem
}
#resetPassword .resetPassword_inner p{
	display: inline-block;
	color: #7D7D7D;
	margin-right: .13rem;
}
#resetPassword .resetPassword_inner h6{
	display: inline-block;
	width: .69rem;
	height: .69rem;
	border: 1px solid #707070;
	text-align: center;
	line-height: .69rem;
	color: #707070;
}
#resetPassword_footer div{
	display: block;
	width: 2.75rem;
	height: .44rem;
	background: #EC2B48;
	color: #FFFFFF;
	text-align: center;
	line-height: .44rem;
	margin: 0 auto;
	font-size: .14rem;
	border-radius:3px;
}