/*默认样式*/
@charset "utf-8";
/* CSS Document */
body,ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,fieldset,legend,input,textarea,select{margin:0;padding:0}
body{
	font-size: .14rem;
	font-family:PingFang SC;
	/* color:#7D7D7D; */
	background: #f1f1f1;	
}
h1,h2,h3,h4,h5,h6,b,strong{
	font-weight:normal;
	font-size:100%;	
}
i,em{
	font-style:normal;	
}
a{
	text-decoration:none;
	color:#6c6c6c;	
}
li{
	list-style:none;	
}
input{
	outline:none;
	border: none;	
}
.clearfix{
	zoom:1;
}
.clearfix:after{
	content:' ';
	display:block;
	height:0;
	clear:both;
	overflow:hidden;/* 溢出隐藏 */
}

