
#header_tcp{
	width: 3.75rem;
	height: .5rem;
	text-align: center;
}
#header_tcp span{	
	line-height: .5rem;
	font-size: .18rem;
	font-weight: bold;
	color: #000000;
}
#main_tcp{
	width: 3.42rem;
	margin:0 auto;
}
.text_indent{
	display: block;
	text-indent: 2em
}
